body{
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin: 0 auto;
}
.render_countries{
    background-color: crimson;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: white;
    
}